@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}

/* Customize the light Theme */
/* @plugin "daisyui/theme" {
  name: "light",
  default: true,
  --color-primary: blue;
  --color-secondary: tea;
} */

@theme {
  --font-fredoka: 'Fredoka', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-900 dark:text-gray-200;
}

.active {
  @apply bg-teal-300 text-teal-900 dark:bg-teal-700 dark:text-white;
}

.pending {
  @apply bg-teal-400 dark:bg-teal-800;
}